@import "./_variables";
@keyframes loading {
  to {
    background-position: -20%;
  }
}

html,
body {
  color: $c_dark;
  background-color: $c_secondary-light;
  font-family: $font;
  font-size: 16px;
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: min(1200px, 95vw);
  margin: auto;
  box-sizing: border-box;
  & > *:nth-child(1) {
    width: clamp(200px, 25vw, 300px);
    @include mobile {
      width: 100%;
    }
  }
  & > *:nth-child(2) {
    flex: auto;
  }
  @include mobile {
    flex-wrap: wrap;
  }
}

.skeleton {
  display: block;
  background: linear-gradient(
      110deg,
      transparent 40%,
      $c_light 50%,
      transparent 60%
    ),
    $c_secondary-light;
  background-size: 200% 100%;
  background-position: 120%;
  animation: 1.5s loading ease-in-out infinite;
}

.actItem {
  display: flex;
  align-items: stretch;
  margin: 1rem 0;
  background-color: $c_light;
  transition: box-shadow 0.5s;
  &-box {
    min-width: 200px;
    min-height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  &-content {
    flex: auto;
    padding: 1.5rem 1rem;
  }
  &-title {
    color: $c_info;
    font-size: 1.6rem;
    font-weight: bold;
  }
  &-description {
    margin: 1rem 0;
  }
  &-gradeItem {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.3rem 1rem;
    color: $c_light;
    background-color: $c_info;
    border-radius: 1rem;
  }
  &:hover {
    box-shadow: 0 0 5px 1px $c_secondary-dark;
  }
  @include mobile {
    flex-wrap: wrap;
    &-box {
      width: 100%;
      height: 250px;
    }
  }
}
