@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

$font: "Roboto", sans-serif;
$c_dark: #151f1f;
$c_light: #ffffff;
$c_primary: #7828b4;
$c_info: #9013fe;
$c_secondary: #d7d7d7;
$c_secondary-light: #f2f2f2;
$c_secondary-dark: #9b9b9b;
